# Lists

In [1]:
name = ['ali', 'hasan', 'reza']

type(name)

list

In [9]:
name[:-1]

['javad', 'hasan']

In [10]:
name[0] = 'javad'

In [11]:
name

['javad', 'hasan', 'reza']

In [12]:
name + ['orange', 'banana']

['javad', 'hasan', 'reza', 'orange', 'banana']

In [13]:
new_list =name + ['orange', 'banana']

In [14]:
new_list

['javad', 'hasan', 'reza', 'orange', 'banana']

In [15]:
new_list.reverse()

In [16]:
new_list

['banana', 'orange', 'reza', 'hasan', 'javad']

In [17]:
new_list.sort()

In [20]:
new_list

['reza', 'orange', 'javad', 'hasan', 'banana']

In [21]:
new_list.reverse()

In [22]:
new_list

['banana', 'hasan', 'javad', 'orange', 'reza']

In [23]:
sorted(new_list)

['banana', 'hasan', 'javad', 'orange', 'reza']

In [24]:
sorted_list = sorted(new_list)

In [25]:
sorted_list

['banana', 'hasan', 'javad', 'orange', 'reza']

In [26]:
new_list

['banana', 'hasan', 'javad', 'orange', 'reza']

In [27]:
len(new_list)

5

In [28]:
new_list.append("sallam")

In [29]:
new_list

['banana', 'hasan', 'javad', 'orange', 'reza', 'sallam']

In [30]:
new_list.pop()

'sallam'

In [30]:
new_list

['sam', 'ram', 'orange', 'jack', 'banana']

In [31]:
new_list.insert(2, "amin")

In [32]:
new_list

['banana', 'hasan', 'amin', 'javad', 'orange', 'reza']

In [33]:
new_list.remove("orange")

In [34]:
new_list

['banana', 'hasan', 'amin', 'javad', 'reza']

In [35]:
%%html
<style>
    table {
        display: inline-block
    }
</style>

### List Methods

Method | Description
:------------ | :-------------
append()|	Adds an element at the end of the list
clear()|	Removes all the elements from the list
copy()|	Returns a copy of the list
count()|	Returns the number of elements with the specified value
extend()|	Add the elements of a list (or any iterable), to the end of the current list
index()|	Returns the index of the first element with the specified value
insert()|	Adds an element at the specified position
pop()|	Removes the element at the specified position
remove()|	Removes the item with the specified value
reverse()|	Reverses the order of the list
sort()|	Sorts the list